
body {
   background-color: cornflowerblue;
}
 h1 {
    font-size: 32px;
    text-align: center;
    margin-top: 32px;
    color: antiquewhite;
}
.g-signin2{
    width: 100%;
}
.g-signin2 > div
{
    margin: 0 auto;
}



